/* Define a dark theme using custom properties */
:root {
  --bg-color: #1f1e1e;
  --bg-second-color: #080808;
  --text-color: #fff;
  --text-second-color: #fff;
  --text-dark-color: #2c2c2c;
  --input-color: #333;
  --input-border-color: #444;
  --border-color: #8d8c8c;
  --input-focus-color: #555;
  --bg-focus: #b3b3b3;
  --border-radius: 6px;
  --input-margin: auto 5px auto auto;
}

/* Apply the dark theme to the body element */
body, html {
  background-color: var(--bg-second-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

/* Create a container element with a fixed width and center it horizontally */
.container {
  width: 1080px;
  margin: 5px auto;
  background-color: var(--bg-second-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 5px ;
}

/* Use media queries to make the container responsive */
@media (max-width: 1080px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 50%;
  }
}

/* Style the label element with some margin and padding */
label {
  display: flex;
  width: auto;
  margin: 10px 0;
  padding: 5px;
  color: var(--text-second-color);
}
label > p {
  margin: auto auto auto 0;
}

/* Style the input element with some width, height, border, and padding */
form>input {
  display: block;
  width: 80%;
  height: 30px;
  
}

input {
  border: 1px solid var(--input-border-color);
  background-color: var(--input-color);
  color: var(--text-color);
  padding: 5px;
  margin: var(--input-margin);
  border-radius: var(--border-radius);
  width: 80%;
}

/* Change the input border color on focus */
input:focus {
  border-color: var(--input-border-color);
}

textarea {
  display: block;
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  width: 80%;
  height: 100px;
  margin: var(--input-margin);
  border: 1px solid var(--input-border-color);
  background-color: var(--input-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: 5px;
}

hr {
  border: 1px solid var(--input-border-color);
}

.btn-primary {
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  border: 1px solid var(--input-border-color);
  background-color: var(--text-color);
  color: var(--text-dark-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* Change the btn-primary background color on hover */
/* .btn-primary:hover {
  background-color: var(--input-border-color);
  color: var(--text-color);
} */

/* Create a btn-secondary class for a secondary button */
.btn-secondary {
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  border: 1px solid var(--input-border-color);
  border: none;
  background-color: var(--input-border-color); /* A gray color */
  color: var(--text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.center {
  width: 100%;
  text-align: center;
}

.overlay-parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh; /* This makes the parent div take up the full viewport height */
  width: 100vw; /* This makes the parent div take up the full viewport width */
  background-color: var(--bg-second-color);
 }
 table{
  /* border-collapse: collapse; */
  width: 100%;
 }

 tr {
  padding: 0;
  margin: 1px 0;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  /* min-height: min-content; */
  background-color: var(--bg-second-color);
  height: fit-content;
  display: grid; 
  grid-template-columns: 7% 55% 32% 6%;
}
tr:nth-child(even) {
  background-color: var(--bg-color);
}

tr:hover {
  color: var(--text-dark-color);
  background-color: var(--text-color);
  border-color: 1px solid var(--input-border-color);
}

td,th {
  min-width: fit-content;
  padding-left: 2px;
  line-height: 35px;
  text-align: left;
  border: 1px solid var(--input-focus-color);
  overflow: hidden;
}

.hidden-item {
  display: none;
}

.search-box {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 2vw;
  font-size: large;
}

.search-box>input {
  position: relative;
  top: 0;
  left: 0;
}